<div id="sidedrawer-brand" class="mui--appbar-line-height">
    <span class="mui--text-title">Application Lab</span>
</div>
<div class="mui-divider"></div>
<ul>
    <li>
        <strong>Article</strong>
        <ul>
            <li><a onclick="loadPage('articles')">Inventory</a></li>
        </ul>
    </li>
    <li>
        <strong>Customer</strong>
        <ul>
            <li><a onclick="loadPage('create_customer')">Create</a></li>
            <li><a onclick="loadPage('customers')">Show</a></li>
        </ul>
    </li>
    <li>
        <strong>Order</strong>
        <ul>
            <li><a onclick="loadPage('order/order_create')">Create</a></li>
            <li><a onclick="loadPage('order/order_get_all')">Inventory</a></li>
            <li><a onclick="loadPage('order/order_get_customer')">Get By Customer</a></li>
            <li><a onclick="loadPage('order/order_update_status')">Update Status</a></li>
        </ul>
    </li>
</ul>

<script>
    jQuery(function ($) {
        initSideMenu();
    });
</script>